<div id="clearance" class="sign-in">
  <h1><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></h1>
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>
